<footer>
  <div id='socials'>
    <div class='section-title'>[Company's name]</div>
    <div id='links'>
      <div id='insta'>
        <img
          src='https://scontent.fkix2-1.fna.fbcdn.net/v/t1.15752-9/cp0/191161694_1592857020920271_5548588891690270273_n.png?_nc_cat=104&ccb=1-3&_nc_sid=ae9488&_nc_ohc=wdnPwRqRJrEAX9ed9VA&_nc_ht=scontent.fkix2-1.fna&tp=30&oh=5ef521329ed0987872e5fea03fac33a6&oe=60DCB148'>
      </div>
      <div id='facebook'>
        <img
          src='https://scontent.xx.fbcdn.net/v/t1.15752-9/cp0/190244282_865148361015139_6852351425094510816_n.png?_nc_cat=104&ccb=1-3&_nc_sid=aee45a&_nc_ohc=M9OSBP5mENMAX8eGJ7t&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=30&oh=084a8c20cc7eb92a24ab7eb4d6b530a2&oe=60B8DA4F'>
      </div>
      <div id='youtube'>
        <img
          src='https://scontent.xx.fbcdn.net/v/t1.15752-9/cp0/193277196_1113345689156043_4856328303675723731_n.png?_nc_cat=107&ccb=1-3&_nc_sid=aee45a&_nc_ohc=XtgUbqehKKgAX8lRaDX&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=30&oh=5d9db7aa5e4b801ea173d4c0286f6a77&oe=60DB386B'>
      </div>
    </div>
    <div id='newsletter'></div>
  </div>
  <div id='info'>
    <div class='section-title'>Info</div>
    <div id='info-section'>
      <div>FAQ</div>
      <div>Terms of Service</div>
      <div>Privacy Policy</div>
    </div>
  </div>
  <div id='logo'></div>

</footer>
