
<div>
  <a id="logo"><img src="assets/Images/students.jpg" class="logoImg"></a>
  <nav>
    <ul>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="students">Students</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="students/4">Student_Info</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="about">About</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="aya 7aga">Error</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>